<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si el fitxer o directori existeix, serveix-lo directament
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Si no, redirigeix totes les peticions a l'index.html
    RewriteRule ^.*$ /index.html [L]
</IfModule>

<IfModule mod_headers.c>
    Header Set Access-Control-Allow-Origin "https://registrecomptabledeploy.onrender.com"
    Header Set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header Set Access-Control-Allow-Headers "Content-Type, Authorization"
    Header Set Access-Control-Allow-Credentials "true"
</IfModule>
