<div class="container col-md-5 d-flex flex-column vh-100">
    <div class="card">
        <div class="card-header">
            <h1 *ngIf="!isEdit">Nou registre</h1>
            <h1 *ngIf="isEdit">Actualizar registre</h1>
        </div>
        <div class="card-body">
            <form class="guardar" [formGroup]="registreForm" action="">
                <mat-form-field *ngIf="false" class="form-group matInput">
                    <mat-label>id</mat-label>
                    <input matInput name="id" formControlName="id" placeholder="ID de registre" autocomplete="off" value="">
                </mat-form-field>
                <mat-form-field class="matInput">
                    <mat-label>Subcategoria</mat-label>
                    <input  type="text"
                            id="registre"
                            placeholder="Subcategoria a la qual pertany"
                            aria-label="String"
                            name="Subcategoria" 
                            matInput
                            [formControl]="myControl"
                            formControlName="subcategoria"
                            [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                      <mat-option *ngFor="let option of filteredOptions | async" (onSelectionChange)="onChangeSubcategory(option)" [value]="option.id" >
                        {{option.id}}_{{option.nom}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                <mat-form-field class="form-group matInput">
                    <mat-label>Import</mat-label>
                    <input matInput formControlName="importreg" name="importreg" type="number" placeholder="Import del registre" autocomplete="off" value="">
                </mat-form-field>
                <mat-form-field class="form-group matInput">
                  <mat-label>Selecciona la data</mat-label>
                  <input  matInput 
                          [matDatepicker]="picker" 
                          name="data"  
                          placeholder="Data del registre"
                          formControlName="data">
                  <mat-hint>DD/MM/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <br><br>
                <mat-form-field class="form-group matInput">
                    <mat-label>Descripció</mat-label>
                    <textarea name="descripcio" rows = 3 formControlName= "descripcio" spellcheck="false" matInput placeholder="Detall del registre" value=""></textarea>
                </mat-form-field>
                <br>
                <div class="buttons" style="display:flex ; justify-content: space-between; justify-items: center;">
                  <button mat-flat-button color="primary" type="submit" [disabled]="registreForm.invalid" *ngIf="!isEdit" class="btn btn-primary" (click)="Guardar()">Guardar</button>
                  <button mat-flat-button color="primary" type="submit" [disabled]="registreForm.invalid" *ngIf="isEdit" class="btn btn-primary" (click)="Actualitzar()">Actualitzar</button>
                  <button mat-flat-button color="link"  class="btn btn-light" (click)="Cancelar()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
