<div class="layout-container" [class.device-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="top-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-spacer"></span>
    <span class="numVersio">Ver. {{environment.version}}</span>
    <button mat-icon-button (click)="users()">
      <mat-icon >supervisor_account</mat-icon>    
    </button>
    <button mat-icon-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>    
    </button>
  </mat-toolbar>
  <mat-drawer-container class="sidenav-container">
    <mat-drawer #snav [mode]="isMobile ? 'over' : 'side'" opened>
      <mat-nav-list>
        <span *ngFor="let item of menu">
          <span *ngIf="!item.children || item.children.length === 0">
            <mat-list-item [routerLink]="[item.route]" [class.selected-list-item]="selectedItem === item" (click)="selectItemMenu(item)">
              <div fxLayout="row" fxLayoutAlign="space-between center" class="lblApartat">
                <mat-icon class="iconApartat" id="item.iconName">{{item.iconName}}</mat-icon>
                &nbsp;{{item.displayName}}
              </div>
            </mat-list-item>
          </span>
        </span>
      </mat-nav-list>
      <br>
      <br>
    </mat-drawer>
    <mat-drawer-content class="content_outer_wrapper">
      <div class="content scrollable-component">
        <router-outlet></router-outlet> 
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
  