@import 'src/app/shared/shared-styles.scss';

::ng-deep {
    
    .mat-drawer-content {
        z-index: auto!important;
        overflow: hidden !important;
    }
    
    .mat-drawer-container {
        z-index: auto!important;
    }

    .scrollable-component {
        height: calc(100vh - 60px);
        overflow: auto !important;
    }
}

.layout-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: $color3 !important; // #eef5f9 !important;
}

.content_outer_wrapper{
    background-color: white !important;
}

.primaryColor{
    color: $color2 ;
}

/***********************
    TOP NAV BAR
**********************/

::ng-deep .mat-menu-panel.mat-menu-panel {
    color: $color2 !important;
    background-color: $color2 !important;
}

.numVersio{
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.87);
    opacity: 0.7;
    margin: 0px;
    padding-right: 10px ;
    display: block;
}

.top-toolbar{
    background-color: $color2  !important;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(0, 0, 0, 0.125);
    max-height: 30px;
}

.toolbar-spacer{
    flex: 1 1 auto;
}

/***********************
    LEFTSIDE NAV BAR
************************/
.sidenav-container{
    flex: 1;
}
  
.device-is-mobile .sidenav-container{
    flex: 1 0 auto;
}

.lblNav{
    color: rgba(0, 0, 0, 0.87);
    opacity: 0.7;
    margin: 0;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
}

.lblApartat{
    color: $color3 !important;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.iconApartat{
    color: $color3 !important;
}

.mat-drawer.mat-drawer-opened{
    background-color:  $color2 !important;
}

.selected-list-item{
    background-color: $color3  !important;
    .lblApartat{
        color:  #FFF!important;
    }
    .iconApartat{
        color:  #FFF !important;
    }
}

.mat-expansion-panel{
    background-color: $color1 !important;
}
.mat-expansion-panel-header {
    padding: 0 16px;
}