<div class="container col-md-5 d-flex flex-column vh-100">
    <div class="card">
        <div class="card-header">
            <h1 *ngIf="!isEdit">Nova Categoria</h1>
            <h1 *ngIf="isEdit">Actualizar Categoria</h1>
        </div>
        <div class="card-body">
            <form class="guardar" action="">
                <mat-form-field class="form-group matInput">
                    <mat-label>Nom</mat-label>
                    <input matInput name="nom" [(ngModel)]="modelCategoria.nom" placeholder="Titol que definira la categoria" autocomplete="off" value="">
                </mat-form-field>
                <br>
                <mat-form-field class="form-group matInput">
                    <mat-label>Descripció</mat-label>
                    <textarea name="descripcio" [(ngModel)]="modelCategoria.descripcio" spellcheck="false" matInput placeholder="Explicar que inclou la categoria" value=""></textarea>
                </mat-form-field>
                <br>
                <div class="buttons" style="display:flex ; justify-content: space-between; justify-items: center;">
                  <button mat-flat-button color="primary" *ngIf="!isEdit" class="btn btn-primary" (click)="Guardar(modelCategoria)">Guardar</button>
                  <button mat-flat-button color="primary" *ngIf="isEdit" class="btn btn-primary" (click)="Actualizar(modelCategoria)">Actualitzar</button>
                  <button mat-flat-button color="link"  class="btn btn-light" (click)="Cancelar()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
