
<app-loader *ngIf="!loadingService.isLoading"></app-loader> 
<div class="main">
    <div class="sideleft navbar-light mb-3">
        <nav class="navbar">
            <ul>
                <li><a (click)="dashboard()"><mat-icon>home</mat-icon><span class="titol">HOME</span></a></li>
                <li><a (click)="categoria()"><mat-icon>category</mat-icon><span class="titol">CATEGORIA</span></a></li>
                <li><a (click)="subcategoria()"><mat-icon>featured_play_listy</mat-icon><span class="titol">SUBCATEGORIA</span></a></li>
                <li><a (click)="registre()"><mat-icon>attach_money</mat-icon><span class="titol">REGISTRE</span></a></li>
            </ul>
        </nav>
    </div>
    <div class="content p-3">
      <router-outlet></router-outlet>
    </div>
</div>




  
  
  
   


