<div class="container overflow-auto pb-5">
    <div class= "regFilter justify-content-end mt-3 mb-1">
      <mat-form-field class="item">
        <mat-label>Entrar un rang de dates</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="dateRangePicker">
          <input matStartDate placeholder="Data inici"  formControlName="start"> 
          <input matEndDate placeholder="Data final"  formControlName="end"  (dateChange)="dateRangeChange(range.value)">
        </mat-date-range-input>
        <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #dateRangePicker disabled="false"></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field class="item">
        <mat-label>Subcategoria</mat-label>
        <input  type="text"
                placeholder="Subcategoria a filtrar"
                name="Subcategoria" 
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" (onSelectionChange)="onChangeSubcategory(option)" [value]="option" >
            {{option.id}}_{{option.nom}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button class="reset item" mat-icon-button (click)="resetFiltres()">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="mdi-filter-remove-outline" width="24" height="24" viewBox="0 0 24 24"><path d="M14.73,20.83L17.58,18L14.73,15.17L16.15,13.76L19,16.57L21.8,13.76L23.22,15.17L20.41,18L23.22,20.83L21.8,22.24L19,19.4L16.15,22.24L14.73,20.83M13,19.88C13.04,20.18 12.94,20.5 12.71,20.71C12.32,21.1 11.69,21.1 11.3,20.71L7.29,16.7C7.06,16.47 6.96,16.16 7,15.87V10.75L2.21,4.62C1.87,4.19 1.95,3.56 2.38,3.22C2.57,3.08 2.78,3 3,3V3H17V3C17.22,3 17.43,3.08 17.62,3.22C18.05,3.56 18.13,4.19 17.79,4.62L13,10.75V19.88M5.04,5L9,10.06V15.58L11,17.58V10.05L14.96,5H5.04Z" /></svg>
      </button>
  </div> 
  <div class="card mat-elevation-z6 overflow-hidden">
    <div class="card-header d-flex justify-content-between justify-items">
      <h1 >Registre</h1>
      <button (click)="Nou()" mat-fab color="warn" aria-label="Example icon button with a home icon">
        <mat-icon> add</mat-icon>
      </button>
    </div>
    <mat-progress-bar *ngIf="progres" mode="query"></mat-progress-bar>
    <table *ngIf = "!this.mobil" mat-table [dataSource]="registres">
      <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [width]="150">DATA</th>
          <td mat-cell *matCellDef="let element"> {{element.data | date: 'dd/MM/yyyy'}} </td>
      </ng-container>
      
      <ng-container matColumnDef="import">
          <th mat-header-cell *matHeaderCellDef [width]="150">IMPORT</th>
          <td mat-cell *matCellDef="let element"> {{element.importreg}} € </td>
      </ng-container>

      <ng-container matColumnDef="subcategoria">
          <th mat-header-cell *matHeaderCellDef [width]="250">SUBCATEGORIA</th>
          <td mat-cell *matCellDef="let element"> {{element.subcategoria.id}}_{{element.subcategoria.nom}}  </td>
      </ng-container>

      <ng-container matColumnDef="desc">
        <th mat-header-cell *matHeaderCellDef >DESCRIPCIÓ</th>
        <td mat-cell *matCellDef="let element" >
          <div class="d-flex justify-content-between">
            <span class="align-content-center">{{element.descripcio}}</span>
            <div *ngIf= "element.showButtons" class="d-flex flex-flow" >
                <button class="icon-button-small" mat-icon-button (click)="Editar(element)" color="primary">
                  <mat-icon>edit</mat-icon>
                </button>
                <button class="icon-button-small" mat-icon-button (click)="Delete(element)" color="primary">
                  <mat-icon>delete</mat-icon>
                </button>                
            </div>
          </div>           
        </td>
      </ng-container>
  
      <!-- <ng-container matColumnDef="accions">
        <th mat-header-cell *matHeaderCellDef [width] = 100>ACCIONS</th>
        <td mat-cell *matCellDef="let element">
          <button class="icon-button-small" mat-icon-button (click)="Editar(element)" color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="icon-button-small" mat-icon-button (click)="Delete(element)" color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container> -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row  *matRowDef="let row; columns: displayedColumns;" class="element-row"
        (mouseover)="row.showButtons = true"
        (mouseleave)="row.showButtons = false">
      </tr>
    </table>
    <div class="mat-elevation-z2" *ngIf = "this.mobil" >  
      <table mat-table [dataSource]="registres">
        <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>DATA</th>
            <td mat-cell *matCellDef="let element"> {{element.data | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
        
        <ng-container matColumnDef="import">
            <th mat-header-cell *matHeaderCellDef>IMPORT</th>
            <td mat-cell *matCellDef="let element"> {{element.importreg}} € </td>
        </ng-container>

        <ng-container matColumnDef="subcategoria">
            <th mat-header-cell *matHeaderCellDef>SUBCATEGORIA</th>
            <td mat-cell *matCellDef="let element"> {{element.subcategoria.id}}_{{element.subcategoria.nom}}  </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="Editar(row)"></tr>
      </table>
    </div>
    <hr>
    <mat-paginator class="paginador"
      [length]="totalItems"
      [pageSize]="itemsPerPage"
      [pageSizeOptions]="[10, 20, 50]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  <br><br>
</div> 
