<div class= "container p-3 pb-5 overflow-auto">
    <div class="card mat-elevation-z6 overflow-hidden">
      <div class="card-header d-flex justify-content-between justify-items header">
        <h1 >Categoria</h1>
        <button (click)="Nou()" mat-fab color="warn">
          <mat-icon> add</mat-icon>
        </button>
      </div>
      <mat-progress-bar *ngIf="progres" mode="query"></mat-progress-bar>
      <!-- Versio tablet desktop  -->
      <table mat-table [dataSource]="categories">
        
        <!-- Name Column -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef [width]="200">NOM</th>
          <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
        </ng-container>
      
        <!-- TIPUS Column -->
        <ng-container matColumnDef="tipus">
          <th mat-header-cell *matHeaderCellDef [width]="150">TIPUS</th>
          <td mat-cell *matCellDef="let element"> {{tipusChange(element.tipus)}}  </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="descripcio">
          <th mat-header-cell *matHeaderCellDef>DESCRIPCIO</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex justify-content-between">
              <span class="align-content-center">{{element.descripcio}}</span>
              <div *ngIf= "element.showButtons" class="d-flex flex-flow" >
                  <button class="icon-button-small" mat-icon-button (click)="Editar(element)" color="primary">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button class="icon-button-small" mat-icon-button (click)="Delete(element)" color="primary">
                    <mat-icon>delete</mat-icon>
                  </button>                
              </div>
            </div>  
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"
          (mouseover)="row.showButtons = true"
          (mouseleave)="row.showButtons = false"
          (click)="Editar(row, true)">
        </tr>
      </table>
    </div>
    <br><br>
  </div>