<div class="container">
    <div class="filers d-flex justify-content-between mb-4 mt-4">
      <mat-form-field>
        <mat-label>Entrar un rang de dates</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="dateRangePicker">
          <input matStartDate placeholder="Data inici"  formControlName="start"> 
          <input matEndDate placeholder="Data final"  formControlName="end"  (dateChange)="dateRangeChange(range.value)">
        </mat-date-range-input>
        <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dateRangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #dateRangePicker disabled="false"></mat-date-range-picker>
      </mat-form-field>
      <button class="reset" mat-stroked-button (click)="resetFiltres()">Reset Filtres</button>
      <mat-form-field >
        <mat-label>Subcategoria</mat-label>
        <input  type="text"
                placeholder="Subcategoria a filtrar"
                name="Subcategoria" 
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let option of filteredOptions | async" (onSelectionChange)="onChangeSubcategory(option)" [value]="option" >
            {{option.id}}_{{option.nom}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  </div> 
  <div class="card">
    <div class="card-header" style="display:flex ; justify-content: space-between; justify-items: center;">
      <h1 >Registre</h1>
      <button (click)="Nou()" mat-fab color="warn" aria-label="Example icon button with a home icon">
        <mat-icon> add</mat-icon>
      </button>
    </div>
    <mat-progress-bar *ngIf="progres" mode="query"></mat-progress-bar>
      <table mat-table [dataSource]="registres" class="mat-elevation-z8">
          
        <!-- ID Columna 
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>-->
        
        <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>DATA</th>
            <td mat-cell *matCellDef="let element"> {{element.data | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
        
        <ng-container matColumnDef="import">
            <th mat-header-cell *matHeaderCellDef>IMPORT</th>
            <td mat-cell *matCellDef="let element"> {{element.importreg}} € </td>
        </ng-container>


        <ng-container matColumnDef="subcategoria">
            <th mat-header-cell *matHeaderCellDef>SUBCATEGORIA</th>
            <td mat-cell *matCellDef="let element"> {{element.subcategoria.id}}_{{element.subcategoria.nom}}  </td>
        </ng-container>
    
      <ng-container matColumnDef="accions">
        <th mat-header-cell *matHeaderCellDef>ACCIONS</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="Editar(element)" color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="Delete(element)" color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>delete</mat-icon></button>
      </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <br><br>
</div> 
